.form {
    @include font($family: $font);
    @include mq('sm'){
        @include flex($dir: column);
    }

    @include mq('med'){
        @include flex($dir: column);
    }

    &__label--hidden {
        display: none;
    }

    &__input {
        border: none;
        @include brdr('bottom', 5px, solid, $color-primary);
        @include padn('all', 10px);
        @include margn('all', 15px);
        @include font($family: $font, $weight: 700);
        @extend %transition;
        &:focus {
            border-bottom-color: $color-secondary;
        }
    }

    &__input:focus {
        outline: none; //Chrome - Remove Blue Line
    }

    .img--avatar {
        @extend %img--avatar;
    }

    [value="Login"] {
        background-color: $color-secondary;
        border-style: none;
        @include brdr($radius: 6px);
        @include padn('all', 12px);
        @include font($color: white, $weight: 700);
        @extend %transition;
        &:hover {
            
            background-color: whitesmoke;
            @include font($color: $color-secondary);
        }
    }
}


 









