nav[role="navigation"] {
    @include flex(flex, $just: space-between);
    width: 100%;
}

.nav {
    @extend %li-style;
    @include font($font, $color-text, regular, 1em);
    @include padn('left', 0);
    width: 100%;

    a {
        @extend %a-style-nav;       
        &:hover {
            color: $color-white;
            background-color: $color-primary;
        }         
    }

    @include mq('med') {
        @include flex($disp: flex, $dir: row, $wrap: null, $just: space-around);
        width: 60%;
        align-items: center;
        margin: 0 auto;
    }

}

.nav__item {
    @include mq('sm') {
        width: 100%;
        a {
            @include padn('all', 16px);
        }
    }
    
}

.card {
    @include font($font, $color-text, 'reg', 1em);
    @include text($height: 1.25em);
    
}